.nav {
  display: flex;
  width: 100%;
  height: 5rem;
  padding: 1rem 0;
}

.navContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.logo {
  background-image: url("/img/pentagon-shard.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 5rem;
  width: 8.3rem;
}

ul.menu {
  list-style: none;
  display: flex;
  height: 5rem;
  margin: 0;
  padding: 0;
  line-height: 5rem;
}

ul.menu li {
  margin: 0;
  padding: 0 1.5rem;
  display: block;
  height: 100%;
  font-family: "Staatliches", sans-serif;
  font-size: 1.5rem;
}

ul.menu li a {
  text-decoration: none;
}

ul.menu li a:hover {
  color: #e8185f;
  text-decoration: underline;
}
