@font-face {
  font-family: "Staatliches";
  src: url("../public/fonts/Staatliches/Staatliches-Regular.woff2")
      format("woff2"),
    url("../public/fonts/Staatliches/Staatliches-Regular.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../public/fonts/OpenSans/OpenSans-Regular.woff2") format("woff2"),
    url("../public/fonts/OpenSans/OpenSans-Regular.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: italic;
  src: url("../public/fonts/OpenSans/OpenSans-Italic.woff2") format("woff2"),
    url("../public/fonts/OpenSans/OpenSans-Italic.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: bold;
  font-style: normal;
  src: url("../public/fonts/OpenSans/OpenSans-Bold.woff2") format("woff2"),
    url("../public/fonts/OpenSans/OpenSans-Bold.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: bold;
  font-style: italic;
  src: url("../public/fonts/OpenSans/OpenSans-BoldItalic.woff2") format("woff2"),
    url("../public/fonts/OpenSans/OpenSans-BoldItalic.woff") format("woff");
}

:root {
  --colors-offBlack: #161616;
  --colors-pink: #e8185f;
  --tints-pink: hsl(340deg, 82%, 20%);
  --wash-offBlack: hsl(0deg 0% 95%);
  --wash-purple: hsl(280deg 100% 95%);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1.1rem;
  line-height: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--colors-offBlack);
  font-weight: 600;
}

h1,
h2,
h3 {
  font-family: "Staatliches", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  margin: 2rem 0 0;
}

h1 {
  font-size: 4rem;
  line-height: 3.8rem;
  margin: 3.8rem 0 0;
}

h2 {
  font-size: 3.6rem;
  line-height: 4rem;
  margin: 2.8rem 0 0;
}

h3 {
  font-size: 2.8rem;
  line-height: 2.6rem;
  margin: 2.4rem 0 0;
}

h4 {
  margin: 2rem 0 0;
  font-size: 1.6rem;
}

h5 {
  margin: 2rem 0 0;
  font-size: 1.4rem;
}

h6 {
  margin: 2rem 0 0;
  font-size: 1.2rem;
}

a {
  color: inherit;
  text-decoration-color: var(--colors-pink);
}

a:hover,
a:active,
a:focus-visible {
  outline: none;
  color: #e8185f;
  text-decoration-color: var(--colors-pink);
}

main {
  min-height: calc(100vh - 176px);
  box-sizing: border-box;
  padding: 1rem;
}

input, button {
  font-family: "Staatliches";
  height: 3.2rem;
  line-height: 3.2rem;
  font-size: 1.2rem;
  padding: 0 1.2rem;
  border: none;
  outline: none;
  border-radius: 0.4rem;
}

input {
  background: var(--wash-offBlack);
  border: 0.1rem solid var(--wash-offBlack);
  transition: 0.2s;
}

input[type="email"]:hover, input[type="email"]:focus-within {
  filter: brightness(95%);
  border-color: var(--colors-offBlack);
}

button[type="submit"], input[type="submit"] {
  line-height: 2.8rem;
  background-color: var(--colors-pink);
  border: 0.1rem solid var(--colors-pink);
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

button[type="submit"]:active, input[type="submit"]:active {
 background-color: var(--tints-pink);
}

button[type="submit"]:hover, input[type="submit"]:hover, button[type="submit"]:focus-within, input[type="submit"]:focus-within {
  filter: brightness(95%);
  border-color: var(--tints-pink);
}
