.main {
  width: 60rem;
  max-width: 100%;
  margin: 0 auto;
}

.simpler {
  color: #a900ff;
  background: -webkit-linear-gradient(-45deg, #e8185f, #a900ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
