.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headline {
  max-width: 80vw;
  font-size: 2.6rem;
  line-height: 2.9rem;
  text-align: center;
}

@media (min-width: 768px) {
  .headline {
    font-size: 3.2rem;
    line-height: 5.4rem;
  }
}

.simpler {
  color: #a900ff;
  background: -webkit-linear-gradient(-45deg, #e8185f, #a900ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
